* {
	margin: 0; 
	padding: 0;
}
html {
	height: 100%;
}
body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(to bottom, #ffffff 0%,#D8D4D4 75%,#D1D8D8 100%);
	background: -webkit-linear-gradient(to bottom, #ffffff 0%,#D8D4D4 75%,#D1D8D8 100%);
	background: -o-linear-gradient(to bottom, #ffffff 0%,#D8D4D4 75%,#D1D8D8 100%);
	background: -ms-linear-gradient(to bottom, #ffffff 0%,#D8D4D4 75%,#D1D8D8 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#D8D4D4 75%,#D1D8D8 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#afb5b5',GradientType=0 ); /* IE6-9 */
}
a {
	-webkit-transition: all 300ms ease-in;
	-moz-transition: all 300ms ease-in;
	-o-transition: all 300ms ease-in;
	transition: all 300ms ease-in;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}
h1 {
	font-size: 4em;
}
#title {
	color: #858384;
}
#loading {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 10em;
	background: rgba(0,0,0,0.5);
	color: rgba(0,0,0,0.3);
}
#loading span{
	top: 30%;
	position: relative;
}
.container {
	width: 100%;
}
.inner {
	max-width: 1000px;
	margin: 10px auto 0 20%;
}
#slider {
	position: relative;
	margin-top: 100px;
	margin-left: 24%;
	width: 80800px;
}
.colorblock {
	position:relative;
	width: 15px;
	height: 200px;
	display: inline-block;
	vertical-align: top;
	vertical-align: middle;
	-moz-box-shadow:    1px 2px 5px #383636;
	-webkit-box-shadow: 1px 2px 5px #383636;
	box-shadow:         1px 2px 5px #383636;
	margin-right:5px;
	overflow: hidden;
	-webkit-transition: width 500ms ease-in-out;
    -moz-transition: 	width 500ms ease-in-out;
    -o-transition: 		width 500ms ease-in-out;
    transition: 		width 500ms ease-in-out;
}
.colorblock:hover {
	cursor: pointer;
}

.colorblock.open {
	width: 400px;
}
.color-info {
	color: #FFF;
	display: none;
	margin: 10px;
	position: relative;
	opacity: 0;

}
.color-info.show {
	display: block;
}
.color-info.light {
	color: #333;
}
.name, .rgbval, .hslval, .closer {
	display: block;
}
.name	{
	padding-top: 20px;
	padding-bottom: 30px;
}
.closer {
	position: absolute;
	top: 0px;
	right: 0px;
	font-weight: bold;
	text-decoration: none;
	color:#EEE;
}
.closer:hover {
	color: #888;
}
.footer {
	position: fixed;
	bottom: 5px;
	font-size: 1em;
}
.footer a {
	color: rgb( 250, 54, 53);
	text-decoration: none;
}
.footer a:hover {
	color: rgb( 224, 4, 134 )
};