* {
	margin: 0; 
	padding: 0;
}
html {
	height: 100%;
}
body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	background: #ffffff;
}
a {
	-webkit-transition: all 300ms ease-in;
	-moz-transition: all 300ms ease-in;
	-o-transition: all 300ms ease-in;
	transition: all 300ms ease-in;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}
h1 {
	font-size: 4em;
}
#main {
	position: fixed;
	top: 0;
}
#title {
	color: #858384;
	position: fixed;
}
#loading {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 10em;
	background: rgba(0,0,0,0.5);
	color: rgba(0,0,0,0.3);
}
#loading span {
	top: 30%;
	position: relative;
}
.container {
	width: 100%;
}
.inner {
	max-width: 1000px;
	margin: 10px auto 0 20%;
}
#slider-cta {
	height: 450px;
	overflow-x: scroll;
	overflow-y: hidden;
}
#slider-cta::-webkit-scrollbar {
	background: transparent;
}
#slider-cta::-webkit-scrollbar-track {
	background: rgba(0,0,0,0.1);
	position: absolute;
	margin: 0 20%;
	max-width: 1200px;
	border-radius: 20px;
}
#slider-cta::-webkit-scrollbar-thumb {
	background: rgb(170,170,170);
	border-radius: 20px;
}
#slider {
	position: relative;
	margin-top: 200px;
	margin-left: 24%;
	width: 80800px;
}
.colorblock {
	position:relative;
	width: 15px;
	height: 200px;
	display: inline-block;
	vertical-align: top;
	vertical-align: middle;
	-moz-box-shadow:    1px 2px 5px #383636;
	-webkit-box-shadow: 1px 2px 5px #383636;
	box-shadow:         1px 2px 5px #383636;
	margin-right:5px;
	overflow: hidden;
	-webkit-transition: width 500ms ease-in-out;
    -moz-transition: 	width 500ms ease-in-out;
    -o-transition: 		width 500ms ease-in-out;
    transition: 		width 500ms ease-in-out;
}
.colorblock:hover {
	cursor: pointer;
	-webkit-transform:	scale(1.025);
	-ms-transform:		scale(1.025);
	transform:			scale(1.025);
}

.colorblock.open {
	width: 400px;
}
.colorblock.open:hover {
	cursor: auto;
	-webkit-transform:	none;
	-ms-transform:		none;
	transform:			none;
}
.color-info {
	color: #FFF;
	display: none;
	margin: 10px;
	position: relative;
	opacity: 0;
}
.color-info.show {
	display: block;
}
.color-info.light {
	color: #333;
}
.name, .rgbval, .hslval, .closer {
	display: block;
}
.name	{
	padding-top: 5px;
	padding-bottom: 15px;
}
.closer {
	position: absolute;
	top: 0px;
	right: 0px;
	font-weight: bold;
	text-decoration: none;
	color:#EEE;
}

.languages {
	height: 100px;
	overflow-y: auto;
	font-size: 0.875em;
	margin-top: 5px;
}
.languages::-webkit-scrollbar {
	width: 8px;
	background: rgba(0,0,0,0.2);
	border-radius: 8px;
}
.languages::-webkit-scrollbar-thumb {
	width: 8px;
	background: rgba(255,255,255,0.8);
	border-radius: 8px;
}
.language {
	display: inline-block;
	width: 50%;
	text-transform: capitalize;
	opacity: 0.8;
	vertical-align: top;
}
.closer:hover {
	color: #888;
}
.footer {
	position: fixed;
	bottom: 10px;
	font-size: 1em;
}
.footer a {
	color: rgb( 250, 54, 53);
	text-decoration: none;
}
.footer a:hover {
	color: rgb( 224, 4, 134 )
};